<!DOCTYPE html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Module 06- Activity</title>
</head>
<body>
   <!--  <div>
        <h1>Please Enter your name</h1>
        <input type="text" ng-model="nameControl">
        <h2>HI {{nameControl}}</h2>
        <p ng-bind="nameControl"></p>
    </div> -->
<div>
<h2> Please Enter your Name</h2>
<input type="text" ng-model="nameControl">

<h2>Hi {{nameControl|uppercase}}</h2>
</div>

</body>
</html>